.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  width: 300px;

  h2 {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }

  p {
    font-size: 1.4rem;
    margin-bottom: 15px;
  }
}

.modalButtons {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.confirmBtn,
.cancelBtn {
  padding: 15px 50px;
  border: none;
  cursor: pointer;
}

.confirmBtn {
  background: #4e001d;
  color: white;
}

.cancelBtn {
  background: gray;
  color: white;
}
