.container {
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background: #ffffff;
  }
  
  .navbar {
    position: absolute;
    width: 100vw;
    height: 95px;
    top: 0;
    left: 0;
    background: #ffffff;
    z-index: 10;
    display: flex;
    justify-content: center;
  }
  
  .navContent {
    max-width: 1920px;
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 80px;
  }
  
  .logo {
    width: 96px;
    height: 39px;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .title {
    font-family: 'Neue Regrade', sans-serif;
    font-weight: 600;
    font-size: 70px;
    line-height: 85px;
    color: #000000;
    margin-bottom: 20px;
  }
  
  .description {
    font-family: 'Instrument Sans', sans-serif;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 40px;
  }
  
  .backButton {
    display: inline-block;
    padding: 15px 40px;
    background: #4E001D;
    border-radius: 25px;
    font-family: 'Instrument Sans', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s ease;
  
    &:hover {
      background: #FFFFFF;
      color: #4E001D;
      box-shadow: 0px 4px 15px rgba(78, 0, 29, 0.3);
      transform: translateY(-2px);
    }
  }