.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: 'Work Sans', sans-serif; 
}

.modal-content {
  background-color: #ffffff;
  padding: 30px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
}

.close {
  color: #aaaaaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Work Sans', sans-serif;
}

.close:hover,
.close:focus {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.deleteBtnContainer {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 20px;
}

.cancelBtn {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px; 
  height: 35px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif; 
  font-weight: 400; 
  font-size: 14px;
}

.cancelBtn:hover {
  background-color: #313638;
}

.deleteProduct {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 150px; 
  height: 35px; 
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400; 
  font-size: 14px;
}

.deleteProduct:hover {
  background-color: #313638;
}
