@use './global.scss';

.product-image {
    background-color: #FFF4EC;
    padding: 20px;
    border-radius: 20px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  
    h2 {
      font-family: 'Work Sans', sans-serif;
      font-weight: 600;
      font-size: 17px;
      color: #313638;
      margin-bottom: 10px;
      text-align: center;
    }
  
    .upload-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      transition: opacity 0.3s ease;
  
      &:hover {
        opacity: 0.8;
      }
  
      img {
        width: 200px; 
        height: auto;
        object-fit: contain;
      }
  
      input {
        display: none;
      }
    }
  
    .preview-wrapper {
      display: flex;
      align-items: center;
      gap: 10px;
  
      img {
        width: 250px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
      }
  
      button {
        background-color: #ffffff;
        border: 1px solid #ccc;
        border-radius: 50%;
        color: rgb(0, 0, 0);
        cursor: pointer;
        padding: 5px;
        transition: background-color 0.3s ease;
  
        &:hover {
          background-color: #f8d7da;
        }
      }
    }
  }
  