@use './global.scss';

.producer-supplier-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #ffffff; 
  // background-image: url('../assets/vinyard2.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  min-height: 100vh; 
  padding: 20px; 

  .content-box {
    background-color: #FFF4EC;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin-top: -10%;

    h1 {
      font-size: 36px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 100; 
      color: #313638;
      margin-bottom: 20px; 
    }

    p {
      font-size: 18px;
      font-family: 'Work Sans', sans-serif;
      font-weight: 300; 
      color: #313638;
      margin-bottom: 20px; 
    }

    .buttons-container {
      display: flex;
      justify-content: center;
      gap: 20px; 

      a {
        text-decoration: none;
        padding: 10px 30px; 
        font-family: 'Work Sans', sans-serif;
        font-weight: 200;
        background-color: #000000;
        color: #ffffff;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #313638;
        }
      }
    }
  }
}
