.brandInputContainer {
  width: 100%;
  padding: 8px;
  overflow: hidden;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 0.9rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
  display: flex;
  flex-direction: row !important;  // Changed from column to row
  align-content: flex-start;
  cursor: text;
  flex: 1;

  &:focus {
    outline: none;
    border-color: #007bff;
  }

  &:focus-within {
    border-color: #333333;
    outline: none;
  }
}

.brandBubble {
  display: flex !important;
  gap: 6px;
  background-color: #f0f0f0;
  border-radius: 16px;
  padding: 4px 8px 4px 12px;
  transition: background-color 0.2s ease;
  max-width: calc(100% - 16px);
  flex-shrink: 1;
  margin: 2px;
  align-items: center;
  flex-direction: row !important;

  &:hover {
    background-color: #eeeef0;
  }
}

.brandText {
  color: #333333;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 6px;
}

.removeButtonContainer {
  display: flex;
  align-items: center;
}

.removeBrand {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: white;
  transition: color 0.2s ease;
  flex-shrink: 0;
  background-color: #ccc;
  border-radius: 50%;
  transition: background-color 0.2s;

  &:hover {
    color: #333333;
    background-color: #999;
  }
}

.brandInput {
  flex-grow: 1;
  border: none;
  padding: 4px;
  font-size: 14px;
  color: #333333;
  min-width: 100px;
  outline: none;
  background: transparent;

  &::placeholder {
    color: #aaa;
  }
}

.brandInputWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}

.addButton {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #aaa; /* Blue color for the icon */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 100%;
  background-color: white !important;
}

.addButton:hover {
  color: #999; /* Darker blue on hover */
}
