// @import './global';


// // _buttons.scss
// /************************************* HOMEPAGE ************************************************/
// .button {
//   // font-family: 'Inter', sans-serif;
//   // font-weight: 100; // Använd Inter ExtraLight eller välj font-weight: 100 för ännu tunnare
//   // text-decoration: none;
//   background-color: #000000;
//   color: #E8E9EB;
//   border: none;
//   border-radius: 5px;
//   padding: 10px 20px;
//   font-size: 16px;
//   cursor: pointer;
//   transition: background-color 0.3s ease-in-out;

//   &:hover {
//     background-color: #313638; // Grå bakgrund vid hover
//     color: #FFF4EC; // Ljusare text vid hover
//   }
// }


// /************************************* PRODUCER PAGE ************************************************/

// .add-product-button {
//   background-color: #313638;
//   color: #FFF4EC;
//   padding: 10px 20px;
//   border-radius: 25px;
//   font-family: 'Inter', sans-serif;
//   font-weight: 300; 

//   &:hover {
//     background-color: #FFF4EC;
//     color: #313638;
//   }
// }




// /************************************* PRODUCER PAGE ************************************************/