.footerWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.footer {
  width: 175px;
  height: 15px;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  color: #000000;
  opacity: 0.3;
  padding-top: 0;
  margin-top: 10px;
  white-space: nowrap;
} 