@import './global.scss';

.cardContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  text-align: left;
  gap: 10px;
}

.productImage {
  height: 60px;
  width: auto;
  border-radius: 0px;
  margin-bottom: 10px;
}

.productTitle {
  font-size: 16px; 
  font-weight: 400;
  font-family: 'Work Sans', sans-serif;
  color: #313638;
  margin: 0;
  display: flex;
  align-items: center; 
}

@media (min-width: 430px) {
  .cardContainer {
    flex-direction: row; 
  }

  .productImage {
    height: 50px; 
    margin-right: 16px;
  }

  .productTitle {
    font-size: px; 
    margin-left: 16px;
  }
}
