// Definiera variabler för återkommande värden
$border-color: #D8D8D8;
$border-color-hover: #B3B3B3;
$border-radius-large: 35px;
$border-radius-small: 25px;
$primary-color: #4E001D;
$text-color: #000000;
$text-color-light: #999999;
$font-family-primary: 'Instrument Sans';
$font-family-heading: 'Neue Regrade';
$background-color: #FFFFFF;

// Efter variablerna, lägger vi till mixins
@mixin form-input-base {
  background: $background-color;
  border: 1px solid $border-color;
  border-radius: $border-radius-large;
  
  &:hover {
    border-color: $border-color-hover;
  }
}

@mixin dropdown-container {
  position: absolute;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 $border-radius-large $border-radius-large;
  background: $background-color;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);
  overflow: visible;
  z-index: 150;
}

@mixin text-style-regular {
  font-family: $font-family-primary;
  font-style: normal;
  font-weight: 400;
  color: $text-color;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

// Common page styling
.page {
  position: relative;
  width: 1131px;
  border: 1px solid #D9D9D9;
  border-radius: $border-radius-large;
  background: $background-color;

  .titleContainer {
    position: relative;
    width: 100%;
    padding: 38px 4px 0 61px;
    margin-top: -10px;

    h2 {
      font-family: $font-family-heading;
      font-weight: 600;
      font-size: 40px;
      line-height: 50px;
      color: $text-color;
      margin: 0;
      text-align: left;
    }
  }

  [class*="_dropdown_"], 
  .dropdownList, 
  div[data-first-child] {
    @include dropdown-container;
    top: calc(100% - 20px);
    position: absolute;
    width: 413px;
    left: 0;
  }

  .option[data-value="Wine"], 
  .option[data-value="Merlot"], 
  [class*="_option_"]:first-child {
    min-height: 67px;
    padding-top: 28px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 413px;
  }
}

// Navigation buttons
.navigation {
  position: absolute;
  width: calc(100% - 80px);
  top: 55%;
  transform: translateY(-50%);
  left: 40px;
  right: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 10;

  button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    position: relative;
    outline: none;

    &:hover, &:focus, &:active {
      outline: none;
      background: none;
    }

    span {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 70px;
      font-family: $font-family-primary;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      text-align: center;
      letter-spacing: 0.03em;
      color: $text-color;
      width: max-content;
    }
  }

  .previousButton, .nextButton {
    .circle {
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: $primary-color;
      @include flex-center;
    }
    
    .arrow {
      width: 12px;
      height: 21px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }
    
    &:hover {
      .circle {
        opacity: 0.3;
      }
      
      span {
        opacity: 0.6;
      }
    }
  }

  .previousButton {
    .circle {
      opacity: 0.5;
    }
    
    .arrow {
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.477124 11.6665L9.69575 21L12 18.667L3.9335 10.5L12 2.33297L9.69575 0L0.477124 9.33352C0.171621 9.64292 0 10.0625 0 10.5C0 10.9375 0.171621 11.3571 0.477124 11.6665Z' fill='white'/%3E%3C/svg%3E");
    }
  }

  .nextButton .arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='21' viewBox='0 0 12 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.5229 11.6665L2.30425 21L0 18.667L8.0665 10.5L0 2.33297L2.30425 0L11.5229 9.33352C11.8284 9.64292 12 10.0625 12 10.5C12 10.9375 11.8284 11.3571 11.5229 11.6665Z' fill='white'/%3E%3C/svg%3E");
  }
  
  [class*="_circle_1gu1c_"] {
    position: relative;
    @include flex-center;
    overflow: hidden;
    border-radius: 50%;
  }

  [class*="_arrow_1gu1c_"] {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 21px;
    background-position: center;
  }
}

// Form input gemensamma stilar
.inputWithUnit,
.selectTrigger,
.dropdownHeader,
.percentageInput {
  @include form-input-base;
  position: relative;
  box-sizing: border-box;
  cursor: pointer;
}

// Specifika egenskaper för varje typ
.inputWithUnit {
  width: 160px;
  height: 45px;
}

.selectTrigger {
  z-index: 200;
  width: 100%;
  height: 38px;
  padding: 0 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdownHeader {
  width: 100%;
  height: 45px;
  padding: 0 20px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include text-style-regular;
  font-size: 16px;

  span {
    @include text-style-regular;
    font-size: 20px;
    line-height: 24px;
    opacity: 0.4;
    padding-left: 10px;
  }
  
  svg {
    transition: transform 0.2s;
    
    &.open {
      transform: rotate(180deg);
    }
  }
}

.percentageInput {
  width: 160px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
}

// General dropdown styling
.option {
  position: relative;
  padding: 8px 20px;
  font-family: 'Instrument Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  cursor: pointer;
  box-sizing: border-box;
  width: 413px;
  margin: 0;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

// Animation för pilen på höger sidan
[class*="_arrow_"] {
  transition: transform 0.2s ease;
}

// När dropdown är öppen, rotera pilen uppåt
.page {
  [class*="_customSelect_"][aria-expanded="true"] > [class*="_arrow_"],
  div[data-open="true"] > [class*="_arrow_"],
  div:has(> [class*="_dropdown_"]:not([hidden])) > [class*="_arrow_"],
  [class*="_selectTrigger_"]:has(+ [class*="_dropdown_"]:not([hidden])) [class*="_arrow_"] {
    transform: rotate(180deg);
  }
} 